<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>enable_network_sync</key>
	<true/>
	<key>network.DESKTOP-GKI5MGL 0152</key>
	<dict>
		<key>SSID</key>
		<string>DESKTOP-GKI5MGL 0152</string>
		<key>addedAt</key>
		<date>2025-03-22T23:31:50Z</date>
		<key>addedByVersion</key>
		<string>iphoneos.16_7_10.20h350.iphone10,1.2</string>
		<key>isAppBased</key>
		<true/>
		<key>isCaptive</key>
		<false/>
		<key>isHidden</key>
		<false/>
		<key>isMoving</key>
		<false/>
		<key>isPSK</key>
		<true/>
		<key>isPrivacyProxyEnabled</key>
		<integer>1</integer>
		<key>isWPA</key>
		<true/>
		<key>isWPA2</key>
		<true/>
		<key>lastJoinedBySystemAtWeek</key>
		<integer>1263</integer>
		<key>lastJoinedByUserAt</key>
		<date>2025-03-22T23:30:05Z</date>
		<key>removedAt</key>
		<date>2025-04-06T18:08:20Z</date>
	</dict>
	<key>network.Murphy</key>
	<dict>
		<key>BSSID</key>
		<string>5e:ac:52:b4:f0:35</string>
		<key>SSID</key>
		<string>Murphy</string>
		<key>addedAt</key>
		<date>2025-02-25T22:30:23Z</date>
		<key>addedByVersion</key>
		<string>iphoneos.16_7_10.20h350.iphone10,1.2</string>
		<key>isCaptive</key>
		<false/>
		<key>isHidden</key>
		<false/>
		<key>isMoving</key>
		<false/>
		<key>isPSK</key>
		<true/>
		<key>isPrivacyProxyEnabled</key>
		<integer>1</integer>
		<key>isWPA2</key>
		<true/>
		<key>lastJoinedByUserAt</key>
		<date>2025-02-25T22:30:23Z</date>
	</dict>
	<key>network.P2j</key>
	<dict>
		<key>SSID</key>
		<string>P2j</string>
		<key>addedAt</key>
		<date>2025-04-03T17:08:16Z</date>
		<key>addedByVersion</key>
		<string>iphoneos.17_6_1.21g93.iphone14,5.2</string>
		<key>isCaptive</key>
		<false/>
		<key>isHidden</key>
		<false/>
		<key>isMoving</key>
		<false/>
		<key>isPSK</key>
		<true/>
		<key>isPrivacyProxyEnabled</key>
		<integer>1</integer>
		<key>isWPA2</key>
		<true/>
		<key>lastJoinedBySystemAtWeek</key>
		<integer>1265</integer>
		<key>lastJoinedByUserAt</key>
		<date>2025-04-03T17:08:16Z</date>
		<key>removedAt</key>
		<date>2025-04-04T09:01:22Z</date>
		<key>seamlessSSIDList</key>
		<array>
			<data>
			UDJqLTVH
			</data>
		</array>
	</dict>
	<key>network.P2j-5G</key>
	<dict>
		<key>SSID</key>
		<string>P2j-5G</string>
		<key>addedAt</key>
		<date>2025-04-08T14:05:50Z</date>
		<key>addedByVersion</key>
		<string>iphoneos.17_6_1.21g93.iphone14,5.2</string>
		<key>isCaptive</key>
		<false/>
		<key>isHidden</key>
		<false/>
		<key>isMoving</key>
		<false/>
		<key>isPSK</key>
		<true/>
		<key>isPrivacyProxyEnabled</key>
		<integer>1</integer>
		<key>isWPA2</key>
		<true/>
		<key>lastJoinedBySystemAtWeek</key>
		<integer>1266</integer>
		<key>lastJoinedByUserAt</key>
		<date>2025-04-08T12:31:04Z</date>
		<key>lowDataMode</key>
		<false/>
		<key>removedAt</key>
		<date>2025-03-22T03:00:37Z</date>
	</dict>
	<key>network.Pheonix</key>
	<dict>
		<key>SSID</key>
		<string>Pheonix</string>
		<key>addedAt</key>
		<date>2025-03-20T19:51:55Z</date>
		<key>addedByVersion</key>
		<string>iphoneos.16_7_10.20h350.iphone10,1.2</string>
		<key>isCaptive</key>
		<false/>
		<key>isHidden</key>
		<false/>
		<key>isMoving</key>
		<false/>
		<key>isPSK</key>
		<true/>
		<key>isPrivacyProxyEnabled</key>
		<integer>1</integer>
		<key>isWPA2</key>
		<true/>
		<key>lastJoinedByUserAt</key>
		<date>2025-03-20T19:51:55Z</date>
		<key>lowDataMode</key>
		<true/>
		<key>removedAt</key>
		<date>2025-03-22T22:19:20Z</date>
	</dict>
	<key>network.Pheonix1979</key>
	<dict>
		<key>SSID</key>
		<string>Pheonix1979</string>
		<key>addedAt</key>
		<date>2025-03-03T01:37:11Z</date>
		<key>addedByVersion</key>
		<string>iphoneos.16_7_10.20h350.iphone10,1.2</string>
		<key>isCaptive</key>
		<false/>
		<key>isHidden</key>
		<false/>
		<key>isMoving</key>
		<false/>
		<key>isPSK</key>
		<true/>
		<key>isPrivacyProxyEnabled</key>
		<integer>1</integer>
		<key>isWPA2</key>
		<true/>
		<key>lastJoinedBySystemAtWeek</key>
		<integer>1261</integer>
		<key>lastJoinedByUserAt</key>
		<date>2025-03-03T08:23:29Z</date>
		<key>lowDataMode</key>
		<false/>
	</dict>
	<key>network.iPhone</key>
	<dict>
		<key>SSID</key>
		<string>iPhone</string>
		<key>addedAt</key>
		<date>2025-03-06T08:10:18Z</date>
		<key>addedByVersion</key>
		<string>iphoneos.16_7_10.20h350.iphone10,1.2</string>
		<key>isCaptive</key>
		<false/>
		<key>isHidden</key>
		<false/>
		<key>isMoving</key>
		<false/>
		<key>isPSK</key>
		<true/>
		<key>isPrivacyProxyEnabled</key>
		<integer>1</integer>
		<key>isWPA2</key>
		<true/>
		<key>lastJoinedBySystemAtWeek</key>
		<integer>1261</integer>
		<key>lastJoinedByUserAt</key>
		<date>2025-03-06T08:10:18Z</date>
		<key>lowDataMode</key>
		<true/>
		<key>removedAt</key>
		<date>2025-03-21T01:25:09Z</date>
	</dict>
	<key>version</key>
	<integer>2</integer>
</dict>
</plist>
